<meta charset="UTF-8">
<meta name="Expo-Post">
<title>Login to Admin Panel</title>

<style>
  body { padding-top:50px; }
</style>

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">
  <header>
    <%- include('../partials/header'); %>
  </header>
  
  <main>
    <div class="jumbotron">
      <h1>Login</h1>
      <p>I'm sorry, that page wasn't found.</p>
      <p>Perhaps you wish to look at one of the other 404+ posts avaliable?</p>
    </div>
  </main>
  <%- include('../partials/noscript'); %>
  <%- include('../partials/cookielogic') %>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>